<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

# <span style="color:#2c061f"> Exercise 6 </span>  

<br>

## <span style="color:#374045"> Introduction to Programming and Numerical Analysis </span>


####  <span style="color:#d89216"> <br> Sebastian Honor√© </span>

## Plan for today
<br>

1. Welcome
2. Data project
3. Intro to pandas
4. Problemset 3

### Information:
- Deadline for the Data project is moved to sunday the 11.th of april! 
- Repository for slides: https://github.com/s-honore/NumEcon.git
    - The slides requires `pip install RISE` or `conda install -c conda-forge rise` and should be opened in jupyter notebook.

# 2. Data project

The Data project is very open for interpretation. Basically, find a theme, some data and do some Exploratory Data Analysis (EDA). 

Theme inspiration: 
- Danish foreign trade
- Demographic changes
- Covid-19
- Climate & energy 

Whatever you choose the most important thing is to convey a story using data.

# 2.1 Where to get data?

You should import data from an online source - either through API or download $\rightarrow$ next lecture. 

Data sources: 

- Good ol' Statistics Denmark
- Kaggle.com
- Tons of API's 
    - For a listing see https://github.com/public-apis/public-apis or https://apilist.fun

# 2.2 Minimum requirements

There will be some minimum requirements for the project. You should show in the project that you can: 
1. Apply data cleaning and data structuring methods
2. Apply data analysis methods
3. Structure a code project
4. Document code
5. Present results in text form and in figures

# 3 Intro to pandas

Pandas is a really powerful data science library that you likely will encounter a lot. Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. 

The core element of Pandas is the `DataFrame`. Looks like a 'classic' dataset and can store heterogeneous tabular data. The `DataFrame` is a `Class` with many methods!  Let's import packages:

In [2]:
import pandas as pd
import numpy as np

# 3.1 The DataFrame

DataFrames can be loaded from pre-existing data (CSV, Excel, STATA, SAS, HTML, txt etc.) or from list and dictionaries:

In [4]:
df = pd.DataFrame(
            {
                "A": 1.0,
                "B": pd.Timestamp("20130102"),
                "C": pd.Series(1, index=list(range(4)), dtype="float32"),
                "D": np.array([3] * 4, dtype="int32"),
                "E": pd.Categorical(["test", "train", "test", "train"]),
                "F": "foo",
            }
        )
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

# 3.2  Accessing columns
Many ways to access columns:

In [10]:
#df["A"]
#df.A
df.loc[:,["A"]]
#df.iloc[:,0]

     A
0  1.0
1  1.0
2  1.0
3  1.0

# 3.3 Creating new columns
You can add new columns to the DataFrame and math operations is allowed:

In [11]:
df["new_colum"] = df.A / 2
df

     A          B    C  D      E    F  new_colum
0  1.0 2013-01-02  1.0  3   test  foo        0.5
1  1.0 2013-01-02  1.0  3  train  foo        0.5
2  1.0 2013-01-02  1.0  3   test  foo        0.5
3  1.0 2013-01-02  1.0  3  train  foo        0.5

# 3.4 Subsetting DataFrame
Sometimes you only need specific parts of a DataFrame. To subset often the `.loc` method is used:

In [14]:
df_sub = df.loc[df.E == "test"]
#df_sub
df_sub.reset_index(drop=True)

     A          B    C  D     E    F  new_colum
0  1.0 2013-01-02  1.0  3  test  foo        0.5
1  1.0 2013-01-02  1.0  3  test  foo        0.5

# 3.4 Subsetting continued
Only want specific columns? Provide a list of column names:

In [15]:
df_sub = df.loc[df.E=="test",["A","B","C"]]
df_sub.reset_index(drop=True)

     A          B    C
0  1.0 2013-01-02  1.0
1  1.0 2013-01-02  1.0

# 3.5 summing up

- In general, there is many methods to solve the same problem. 
- Just remember [the zen of python](https://www.python.org/dev/peps/pep-0020/). 
    - Especially, `Simple is better than complex`

# 4 Start learning pandas
Time for problemset 3! 

Please go to your own channel and ask for help in general

In [16]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!